# Repo specific
website/
.vscode
.idea
.ipynb_checkpoints
*.dill
*.pkl
*.aux
*.out
*.synctex
*.bbl
*.blg
*.toc
solutions/introduction/gs10-combined.xlsx
solutions/introduction/gs10-exported.csv
solutions/introduction/gs10-exported.xlsx
solutions/introduction/question_9.h5
solutions/introduction/lesson-6.h5
solutions/introduction/prices.h5
solutions/introduction/gs10.h5
solutions/introduction/*.pdf
solutions/introduction/*.png
tools/tex/*.pdf
tools/tex/final-exam.tex
tools/tex/installation.tex
tools/tex/data-*.tex
tools/tex/estimation-*.tex
tools/tex/lesson*.tex
tools/tex/regression-*.tex
tools/tex/arma-*.tex
tools/tex/arch-*.tex
tools/tex/value-at-risk-*.tex
tools/tex/vector-ar-*.tex
tools/tex/images/
tools/*.png
equity-indices.h5
ff-pdr.h5
ff.h5
ff_daily.h5
fx-pdf.h5
fx.h5
term-premium.h5
gs10.h5
ibm.csv
import-hf-data.py
msft.csv
data.zip
.idea/.gitignore
.idea/Python MFE Introduction.iml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
